.login-wrap{
    background: #f8f4ed;
    padding-top: 30px;
    padding-bottom: 50px;
}

.login-container img{
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.login-container h2{
    text-align: center;
    margin: 30px 0;
    font-size: 16px;
    font-weight: normal;
    color: #a09c9c;
}

.login-container {
    width: 60%;
    background:#fff;
    margin: 0 auto;
    padding: 100px;
    border-radius: 10px;
}

.login-form{
    display: block;
    margin: 0 auto;
    width: 50%;
}

.login-form input[type="text"],.login-form input[type="password"]{
    display: block;
    width: 98%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #a1a0a0;
    margin-bottom: 10px;
}

.login-form input[type="text"]:focus,.login-form input[type="password"]:focus{
    border: 2px solid #f1a7c0;
    outline: none; 
}

.login-form label{
    line-height: 35px;
    font-size: 18px;
}

.login-form input[type="submit"]{
    display: block;
    height: 45px;
    width: 100%;
    margin: 15px auto;
    color:#fff;
    background:#fc9086ce;
    border: 1px solid #fc9086ce;
    border-radius: 5px;
    outline: none;
    margin-top: 20px;
    font-size: 16px;
}

.login-form input[type="submit"]:hover{
    background:#fc9086;
    border: 1px solid #fc9086;
    cursor: pointer;
}

.login-form input[type="submit"]:disabled{
    cursor: not-allowed;
    
}

.login-form a,.login-form span{
    text-decoration: none;
    color: #a09c9c;
    
}

.login-form a:hover{
    color: #fb6b5e;
}

.u-prompt{
    color: red;
    font-size: 10px;
}

.p-prompt{
    color: red;
    font-size: 10px;
}