/*頁面*/
.container{
    margin-bottom: 30px;
}
/*選單*/
.wed-menu{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c5c5c5;
    padding: 20px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu-wed{
    padding: 0px 20px;
    border-right: 1px solid #c5c5c5;
}

h1{
    font-size: 23px;
    font-weight: 50;
    letter-spacing:2px;
    font-family: 微軟正黑體;
}

.menu-wed a{
    text-decoration: none;
    color: #6e6d6d;
    font-family: 微軟正黑體;
}

.form-control{
    font-size: 15px;
    font-family: 微軟正黑體;
}

/*塞選內容*/
.content-top{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #c5c5c5;
}

.select{
    color: #495057;
    font-weight: bold;
    font-size: 16px;
}

.form-group{
    width: 18%;
    margin:0 10px;
}

.price{
    width: 100px;
}

/*方案數量*/
.phop-amount{
    padding: 20px;
    font-size: 14px;
    color: #6e6d6d;
    font-family: 微軟正黑體;
}

/*婚攝方案內容*/
.content{
    display: flex;
    flex-wrap: wrap
}

.program{
    width: 350px;
    margin: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    overflow: hidden;
}

.program-content{
    margin: 20px;
}

.program-content a{
    text-decoration: none;
}

/*名*/
.phop-name{
    font-size: 18px;
    font-weight: 500;
    color: #414141
}
/*內容*/
.phop-content{
    margin: 20px auto;
    color: #6e6d6d;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*價錢*/
.phop-price{
    margin: 10px auto;
    color: #eeb8b8;
    font-weight: 500;
}

.phop-price span{
    color: #6e6d6d;
    font-size: 10px;
    padding-right: 5px;
}

/*圖片*/

.program-images img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
/*店logo*/
.program-news{
    display: flex;
    margin: 20px 20px 0 20px;
    border-top: 1px solid #c5c5c5;
}

.phop-logo{
    width: 60px;
    height: 60px;
    border-radius: 20%;
    display: flex;
    align-items: center;
}

.phop-logo img{
    max-width: 70%;
    max-height: 70%;
}
/*店家*/
.phop-smem{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.phop-smem a{
    padding-bottom: 8px;
    color: #414141;
    font-size: 14px;
    text-decoration: none;
}
.phop-smem span{
    color: #6e6d6d;
    font-size: 10px;
}
.phop-smem i{
    padding-right: 5px;
}

/*改變input顏色*/
.form-control:focus {
    border-color: #fadcda;
    box-shadow: 0 0 0 0.2rem rgba(255, 198, 193, 0.25);
}

/*搜尋*/
.search{
    display: flex;
}
.border-0{
    background-color: white;
    margin-left: 3px;
}
.fa-search{
    color: #6e6d6d;
}

/*地區*/
.addr-area{
    display: none;
}
.addr-zip{
    display: none;
}

/*隊長按鈕*/
.edit-submit{
    display: inline-block;
    background:#eeb8b8;
    outline: none;
    color:#fff;
    border-radius: 5px;
    width: 7%;
    height: 35px;
    border: 1px solid #eeb8b8;
    font-size: 14px;
}

.edit-submit:hover{
    background:#eeb8b8;
}