textarea{
    border: 0px;
    width: 500px;
    /* height: 500px; */
    text-align: center;
    overflow-y:hidden;
    background-color: aliceblue;
}
div textarea:focus{
    border: 0px;
    outline: none;
}
body{
    background-color: aliceblue;
}