.active-wrap{
    background: #f8f4ed;
    padding-top: 30px;
    padding-bottom: 50px;
}

.active-container img{
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.active-container h2{
    text-align: center;
    margin: 30px 0;
    font-size: 18px;
    font-weight: 400;
    color: #221f1f;
}

.login{
    text-align: center;
    text-decoration: none;
    color: #e77b15;
    display: block;
}

.login:hover{
    color: #e77b15ad;
    cursor: pointer;
}

.active-container {
    width: 60%;
    background:#fff;
    margin: 0 auto;
    padding: 100px;
    border-radius: 10px;
}

.active-container p{
    color: #2e5cf1;
    text-align: center;
    margin-bottom: 15px;
}
